<component name="ArtifactManager">
  <artifact type="war" name="springDemo13:war">
    <output-path>$PROJECT_DIR$/springDemo13/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springDemo13</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springDemo13-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springDemo13:war exploded" />
    </root>
  </artifact>
</component>