<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="cn.cdw.mapper.impl.UserDaoImpl"/><!--把dao添加到spring容器-->

    <bean id="userService" class="cn.cdw.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/><!--在service中注入dao-->

        <property name="i1" value="100"/>
        <property name="str" value="你好Spring"/><!--注入非引用类型-->
     </bean>

</beans>